/*a transition dos prints e do texto embaixo dos prints ta fazendo por algum motivo a pagina se mexer na pa parte de baixo quando recarrega, não consegui fazer ele não alterar o tamanho da pagina na hora de recarregar*/

body{
    background-image: url('../assets/papel-parede.png');

    margin-left: 10%;
    margin-right: 10%;
    padding: 0;
    height: 100vh;

    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
}

.section-imagem{
    background-image: url('../assets/img-fundo.jpg');
    background-color: #d6585870;
    background-blend-mode: screen;
    background-position: center;
    background-repeat: no repeat;
    background-size: cover;

    border: #00000085 2px solid;
    border-radius: 10px;

    padding-bottom: 30%;
    padding-top: 1%;

    display: flex;
    justify-content: center;
}

header{
    width: 100%;
    height: 10%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.logo-link{
    margin-left: 5%;
}

.logo{
    transition: 0.5s;
}

.logo:hover{
    opacity: 70%;
}

nav{
    margin-right: 5%;
    width: 30%;
    height: 100%;
}

.nav-ul{
    display: flex;
    justify-content: space-around;

    list-style: none;

    margin: 0;
    padding: 0;
    height: 100%;
}

.nav-list{
    width: 100vh;
    margin-bottom: 5%;
    margin-left: 5%;

    transition: background-color 0.5s;
}

.nav-list:hover{
    background-color: #850404b5;
    border-radius: 5px;
}

.nav-link{
    width: 100%;
    height: 100%;
    margin-right: 3vw;

    color: #242121;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}


.liber{
    color: #EE3D3D;

    font-family: 'Aldrich', sans-serif;
}

h1{
    text-align: center;
    font-size: 2em;

    border: 3px solid #1B1B1B;
    border-radius: 10px;

    margin-right: 19%;
    margin-left: 19%;
}

h2{
    margin-left: 2%;
}

.piada{
    color: #EE3D3D;
}

.section-funcionalidades{
    background: #fbf7ed;
    border-radius: 30px;
}

h3{
    margin-left: 2%;
}

.bloco-prints{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.telas-textos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prints-liber{
    width: 40%;
    height: auto;

    border: 1px solid black;

    transition: 0.7s;
}

.prints-liber:hover{
    transform: scale(1.6);
}

.texto-tela{
    border: 3px solid #EE3D3D;
    border-radius: 10px;


    text-align: center;

    width: 20vw;
    height: 15vh;

    transition: 0.7s;
}

.texto-tela:hover{
    transform:scale(1.3) ;
}

.contato-rodape{
    background: #f2efef;
    position: absolute;

    width: 100%;
    margin-top: 5%;
    left: 0;
}

#contato{
    margin-left: 2%;
}

#contato ul{
    list-style: none;

    padding: 0;
    margin-left: 2%;
}

.cadastro-email{
    display: flex;
    justify-content: flex-start;   

    margin-top: 1%;
    margin-left: 2% ;
}

.box-email{
    margin-right: 1%;
    margin-left: 1%;
}

.rodape{
    border-top: 1px solid black;

    display: flex;
    align-items: center;

    font-size: 0.7em;
}

.footer-left{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    float: left;

    width: 70%;
}

.lista-burocraticos{
    width: 100%;
    padding: 0;

    white-space: nowrap;
}

.itens-burocraticos{
    display: inline-block;

    list-style: none;

    margin-left: 5%;
}

.itens-burocraticos a{
    color: #2f2929;

    text-decoration: none;

    padding: 1%;

    transition: 0.5s;
}

.itens-burocraticos a:hover{
    color: black;
    text-decoration: underline;
}

.footer-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    float: right;
    position: absolute;
    right: 0;

    margin-right: 4%;
}

.redes-sociais{
    white-space: nowrap;
}

.icones-redes{
    color: black;

    margin-right: auto;
    list-style: none;

    transition: 0.5s;
}

.icones-redes:hover{
    opacity: 0.5;
}


.botao-baixar{
    margin-right: 1%;
    margin-left: 1%;

    transition: 0.5s;
}

.botao-baixar:hover{
   opacity: 0.5;
}

.ios{
    height: 5.5vh;
}

.android{
    height: 3.5vh;
}
